body {
  margin: 0;
  padding: 0;
}

#my-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* 
.airport {
  height: 69px;
  width: 47px;
  background-image: url(https://api.geoapify.com/v1/icon/?type=awesome&color=%2372a2d4&scaleFactor=2&size=x-large&icon=plane-departure&apiKey=440b5a17c9744781ac1d712090b0dcdf);
  background-size: contain;
  cursor: pointer;
} */

.currentLocation {
  height: 40px;
  width: 47px;
  background-size: contain;
  cursor: pointer
}
